src/main/mule/craftretailmart.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="craftretailmart-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 400]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="craftretailmart-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="craftretailmart-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 400]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="craftretailmart-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad Request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\orders\(id):craftretailmart-config">
        <set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="c5546472-6997-4897-9864-157772075c17" variableName="id"/>
		<db:select doc:name="Select" doc:id="34c4392e-02ad-4f34-8cd3-3efdd4ee417c" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM craftretailmart.orders where id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{id: vars.id}]]]></db:input-parameters>
		</db:select>
        <logger level="INFO" doc:name="Logger" doc:id="13c1555e-0f1d-43fc-a5ae-ecaa9cea1af3" message="This is test logger"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  order: payload,
  id: vars.orderId
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		
		
		<error-handler>
    <on-error-propagate type="ANY" logException="true" enableNotifications="true">
        <!-- Set HTTP Status Code -->
        <set-variable variableName="httpStatus" value="503" />

        <ee:transform doc:name="Error Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---               
"Bad Request"
                    
                
                ]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="statusCode"><![CDATA[vars.httpStatus]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <!-- Apply HTTP status to response attributes -->
        <set-variable value="#[attributes ++ { statusCode: vars.statusCode }]" doc:name="Set Variable" doc:id="b9a06c36-e226-40c4-83c2-43b880cb7fc5" variableName="error2"/>
    </on-error-propagate>
</error-handler>
		
    </flow>
    
    
    
    <flow name="post:\orders:application\json:craftretailmart-config">
		
		<ee:transform doc:name="Transform Message" doc:id="c5f850c8-d157-493a-87c1-b6017ac4eb2a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var itemsList = payload.items default []
var total = itemsList reduce ((item, acc = 0) -> acc + (item.quantity default 0) * (item.price default 0))
---
{
    customerName: payload.customerName default "",
    total: total,
    status: "PENDING"
}


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="061653cb-2b66-4b37-b326-7c1293265e85" variableName="dbpayload"/>
		<db:insert doc:name="Insert" doc:id="bd317c17-92eb-4359-8e64-8804cd45c442" config-ref="Database_Config" autoGenerateKeys="true">
        <db:sql><![CDATA[ INSERT INTO craftretailmart.orders(customerName, total, status)
        VALUES (:customerName, :total, :status);
]]></db:sql>
      <db:input-parameters ><![CDATA[#[vars.dbpayload]]]></db:input-parameters>
			<db:auto-generated-keys-column-names />
      </db:insert>
		<set-variable value="#[payload.generatedKeys.GENERATED_KEY]" doc:name="Store New ID" doc:id="fb354c43-d442-4637-ab09-0764218b40d0" variableName="id"/>
		<logger level="INFO" doc:name="Logger" doc:id="a97d2188-8fc0-4b1b-910a-4204a6611034" message="#[vars.id]"/>
		<ee:transform doc:name="Transform Message" doc:id="5b28ffd1-54cb-47a0-bc91-5232802e7692">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
 {
    id: vars.id,
    customerName: vars.dbpayload.customerName,
    total: vars.dbpayload.total
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<jms:publish doc:name="Publish" doc:id="5781a077-bb40-40ca-9420-51d864b1121f" config-ref="JMS_Config" destination="CraftRetailMart"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    message: "Order is inserted into DB with total " ++ vars.dbpayload.total,
    status: "PENDING",
    queueStatus: "Message is sent to orderQueue",
    scheduler: "Scheduler updates the order status to PROCESSED later"
}


]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7b30b3f4-68a9-4285-8c6f-9d28df7215be" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="692e3053-e1b4-414f-bf2f-8dac5aa02c20" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	 "Bad Request"
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>

 
 
 
 
 

    
    
    
    
    
	<flow name="craftretailmartFlow" doc:id="1470b09e-b9a8-4c87-b9b2-70d31597bb41" >
		<scheduler doc:name="Scheduler" doc:id="09eb3922-12b2-4382-8c86-b71073a9a31d" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="MINUTES" frequency="1"/>
			</scheduling-strategy>
		</scheduler>
		<db:select doc:name="Select" doc:id="baa20f8e-6566-43b0-a89d-8d481f16c46a" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * 
FROM craftretailmart.orders
WHERE status = 'PENDING';]]></db:sql>
		</db:select>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="a216a429-d921-40ce-9b6a-fc47c1cfc72e" variableName="dbpayload"/>
		<ee:transform doc:name="Transform Message" doc:id="060cdc38-a696-4547-a1da-915a832c8fc5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.dbpayload map {
	id: $.id,
    customerName: $.customerName,
    total: $.total,
    status: "PROCESSED"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="b4ca8a84-6d53-48aa-aa74-9104faf672f4" variableName="order" />
		<foreach doc:name="For Each" doc:id="f30ea834-e357-4c29-b51a-e776f9d47451" >
			<file:write doc:name="Write" doc:id="ed778ab6-4268-4431-97d3-7f14c8f8e45c" path="#['C:\Craft\json_data\Processed-orders' ++ now() as String {format: 'yyyy-MM-dd-hh-mm-ss'} ++ random() * 1000 ++ '.json']" />
			<db:update doc:name="Update" doc:id="de0c5f2e-fc42-4807-b677-fa63297af20f" config-ref="Database_Config">
				<db:sql><![CDATA[ UPDATE craftretailmart.orders
                SET status = 'PROCESSED'
                WHERE id = :id AND status = 'PENDING';]]></db:sql>
				<db:input-parameters><![CDATA[#[{
                id: payload.id
      }]]]></db:input-parameters>
			</db:update>
		</foreach>
		<set-payload value="#[vars.payload]" doc:name="Restore Payload" doc:id="adfe48b9-fd75-4823-aacb-8c7ef58a75b4" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="fe75d966-bede-4123-9ce7-b39ece5f72b7" type="DB:CONNECTIVITY">
				<ee:transform doc:name="Transform Message" doc:id="2e9841fd-f182-4ea3-afc1-be8afd93b231" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Error": "DB Down at the moment  Please Try Again "
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
    
    
   
   
    
    
   
    
    
</mule>
